.borde{ 
	border: solid 2px gray;
	margin-top: 5px; 
	margin-bottom: 5px;  
	float:left;     
} 

.boton_ver{ 
	border-style: none;
	width: 40px; 
	height: 40px; 
	color:white;
	background:rgba(43,43,43,0.6);
	float: right; 
} 
.boton_ver:active{
	background:rgba(43,43,43,0.4);	
}


a {color:#FFFFFF;} 
a:visited {color:#FFFFFF;} 
a:active {color:#FFFFFF;} 
a:hover {color:#12D386;} 
.btn_grl{
	border-radius: 10px;
	padding-right: 1%;
	padding-left: 1%;
	padding-top:6px;
	padding-bottom:6px;
	left: 0px;
	text-decoration: none;
	background-color:rgba(220,59,1,0.8);
}
.btn_ant{
	margin-right: 0%;
}

.btn_sig{
	margin-left: 0%;
}

#formalista{
	margin-top: 60px;
}