#menu {
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	margin-left: -100%;
	transition: margin-left 1s;
	z-index: 1;
}

#menu:hover {
	margin-left: 0%;
	z-index: 1;
}

.menuItem {
	padding: 6px 0px 6px 20px;
	border-bottom: solid 1px black;
	color: white;
	transition: 0.2s background;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	z-index: -1;
}

.menuItem:hover {
	cursor: pointer;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc800+0,8fc800+100;Green+Flat+%232 */
	background: #8fc800; /* Old browsers */
	background: -moz-linear-gradient(top,  #8fc800 0%, #8fc800 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #8fc800 0%,#8fc800 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #8fc800 0%,#8fc800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */
	z-index: -1;
}
a {
	text-decoration: none;
	z-index: -1;
}