#calendar-container{
    padding: 10px;
    /*width: 210px;
    height: 240px; */
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    /*font-size: 16px;*/ 
    font-size: 100px; 
    font-family: Arial;
    /*background-image: linear-gradient(#fff, #d3d3d3);*/ 
    background-color: greenyellow; 
    margin-top: 430px; 
    color: darkorange; 
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
}