.borde{ 
	border: solid 2px gray;
	margin-left: 5px; 
	margin-right: 5px; 
	margin-top: 5px; 
	margin-bottom: 5px;  
	float:left;     
} 

.boton_ver{ 
	width: 40px; 
	height: 40px; 
	border-color: gray;    
	float: right; 
} 

.botones_inferiores{ 
	width: 100px; 
	height: 40px; 
	border-color: gray; 
	margin-left: 5px;     
}

.ventana{
	width: 100%;
	height: 100%;
	color:#FFF;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	top:0;
	left: 0;
	display: none;
}

a:active{
	background-color: lightgray;
	color:black;
}

#opcion, #salir{
	color:white;
	text-decoration: none;
	font-weight: 20pt;	
	border-bottom:2px solid white;
	position: relative;
	display:inline-block;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}
