/*Importar fuente*/
@font-face {
    font-family: GeneralFont;
    src: url(../fonts/AdventPro-Light.ttf);
}

@font-face {
    font-family: GeneralFontBold;
    src: url(../fonts/AdventPro-Regular.ttf);
}

* {
	margin: 0;
	font-family: GeneralFont;
	font-size: 16pt;
}
.bg_verde_pistache {
	background-color: #93c572;

}
header {
	font-family: GeneralFontBold;
	color: white;
	font-weight: bolder;
	text-align: center;
	widows: 100%;
}
.textbox {
	width: 93%;
	border-radius: 2px;
	border: none;
	outline: solid 1px gray;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 3%;
}

.btn {
	border-radius: 10px;
	padding: 1%;
	float:left;
	text-align: center ;
	border-bottom:solid 2px #F5E373;
	box-sizing: border-box;
	margin-top: 1%;
}

.btn_submit {
	width: 45%;
	color:white;
	background:#93C572;
	margin-left: 3%;
	margin-right: 2%;
}
.btn_submit:active {
	background: rgb(186,245,148);
}

.btn_cancel {
	width: 45%;
	color:white;
	background: #FF8700;
	margin-right: 2%;
}

.btn_cancel:active{
	background: #FFC95D;
} 

.btn_reagendar {
	width: 45%;
	color:white;
	background: #FF8700;
	margin-right: 2%;
    margin-left: 30%; 
}

.btn_reagendar:active{
	background: #FFC95D;
} 

.buttons_container {
}


.btn_regresar{
    color: white;
    width:100%;
    height:100%;
    text-decoration: none;
    background:gray;
}
.div_btn{
    width:15%;
    height:100%;
    float:right;
    z-index:1;
}


.headerItem {
  display: inline-block;
}

.titleHeader {
  box-sizing: border-box;
  padding: 10px;
}

.buttonHeader {
  float: left;
  box-sizing: border-box;
}

.buttonHeader img {
  height: 40px;
  padding-top: 2px;
  padding-left: 2px;
}

.box {
  width: 70%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid orange;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: red;
  border: 2px solid blue;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  display:inline-block;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  text-align:center;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.secc{
    display:inline-block;
}
.divi{
    margin:0 auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



.common-padding {
  padding: 10px 0 10px 0;
}